* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

/*Variables Globales*/

:root {
    --color-primary: #245483;
    --color-white-90: #bfc5ca;
    --color-gray: #CACFD2;
}

label,
input,
h1,
h2,
h3,
span,
p,
a {
    display: block;
    font-family: "Lato", sans-serif;
    outline: 0;
}

input {
    box-sizing: border-box;
    display: inline;
    outline: 0;
}

input[type="submit"] {
    border: 0;
    outline: 0;
}



/* Login ***********************************/



.bg-login {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/bg-login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    width: 420px;
    background-color: rgba(33, 47, 60, 0.8);
    padding: 25px 40px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 19px 23px -14px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 3px 19px 23px -14px rgba(0, 0, 0, 0.42);
    box-shadow: 3px 19px 23px -14px rgba(0, 0, 0, 0.42);
}

.text-login {
    color: var(--color-white-90);
    margin-top: 25px;
    margin-bottom: 40px;
}

.text-login img {
    width: 58px;
    margin-bottom: 10px;
}

.form-login .text-login {
    width: 100%;
    text-align: center;
}

.form-login h2 {
    margin-bottom: 10px;
    color: #fff;
}

.form-login span {
    color: #fff;
    font-size: 1.2rem;
}

.components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.components label {
    font-size: 1.1rem;
    letter-spacing: -0.01px;
    color: var(--color-white-90);
    font-weight: 300;
    align-self: flex-start;
}

.components .input-text-login {
    width: 100%;
    font-size: 1.2rem;
    border: 0;
    outline: 0;
    margin-top: 10px;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid var(--color-white-90);
    box-sizing: border-box;
    border-collapse: separate;
    padding-bottom: 10px;
    border-spacing: 15px 50px;
}

.components .input-text-login::placeholder {
    color: var(--color-white-90);
    opacity: 0.5;
}

.components .btnlogin {
    margin-top: 10%;
    width: 100%;
    outline: 0;
    border: 0;
    padding: 20px 15px;
    font-weight: 500;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.components .btnlogin:hover {
    background-color: #273748;
}

.forgot-pass {
    color: #808b96;
    outline: 0;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.forgot-pass:hover {
    color: #ccd0d5;
}

/* Nav Header ***************************************/
/****************************************************/
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);

}

.menu-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-nav ul {
    list-style: none;
}

.menu-nav ul li {
    display: inline;
}

.link-menu {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 25px 15px;
}

.link-menu:hover {
    background-color: #204b75;
}

header .logo-nav {
    width: 52px;
    display: inline-block;
    margin: 0 15px;
    float: left;
}
#padre{
    width:100%;
    height:100%;
    float:left;
    position:relative;
    overflow:hidden;
 }
 #hijo{
    width:100%;
    height:100%;
 }



/*Estilos de Formulario *****************************/
/****************************************************/

.container-form {
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form h2 {
    color: var(--color-primary);
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 900;
    letter-spacing: -0.9px;
}

.container-form span {
    color: var(--color-white-90);
    font-size: 1.2rem;
}

.form-principal {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    margin-bottom: 2rem;

}

.input-field label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #808b96;
}

.input-field .input-text {
    font-size: 1.2rem;
    padding: 15px 20px;
    border-radius: 5px;
    border: 0;
    background-color: #E6EAED;
    width: 100%;
}

.input-field,
.btn-form {
    width: 100%;
}

.form-principal .btn-form {
    padding: 18px 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: var(--color-primary);
    outline: 0;
    border: 0;
    color: #fff;
    display: inline;
    cursor: pointer;
    margin-left: 10px;
}

.form-principal .btn-form:hover {
    background-color: #204b75;
}



/*Index *********************************/
.containter-title-body {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 25px 15px;
}

.containter-title-body img {
    max-width: 60%;
    width: 350px;
}

.containter-title-body h1 {
    color: var(--color-primary);
    font-size: 4rem;
    font-family: 'Lato', serif;
    background-color: #fff;
    padding: 10px 15px;
}

.bg-index {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/bg-index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: auto;
}

.text-body {
    align-self: flex-start;
}

.text-body span {
    color: #D0D3D4;
    font-size: 1.5rem;
    vertical-align: middle;
}

.text-body h2 {
    font-size: 6rem;
    font-family: 'Playfair Display', serif;
    color: #f1f1f1;
    font-weight: normal;


}


.container-body .image-body img {
    border-radius: 10px;
    -webkit-box-shadow: -2px 14px 32px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 14px 32px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 14px 32px -12px rgba(0, 0, 0, 0.75);
}

.btn-body {
    margin-top: 10px;
    background-color: var(--color-primary);
    display: inline-block;
    padding: 15px 20px;
    font-size: 1.2rem;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
}

.btn-body:hover {
    background-color: #204b75;
}

.btn-body-2 {
    margin-top: 10px;
    box-shadow: inset 0 0 0 3px var(--color-primary);
    display: inline-block;
    padding: 15px 20px;
    font-size: 1.2rem;
    color: #39658f;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.btn-body-2:hover {
    background-color: var(--color-primary);
}


/*Pagina de Conocimientos*/
/********************************************************************/
.container-conocimiento {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
}

.container-conocimiento h2 {
    color: var(--color-primary);
    font-size: 2.4rem;
}

.container-conocimiento span {
    color: #707c80;
    font-size: 1.5rem;
}

.mod-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 10px;
    margin-top: 25px;

}

.form-conocimiento {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-conocimiento h3 {
    color: var(--color-primary);
    font-size: 1.5rem;
}

.form-conocimiento form {
    padding: 1.5rem 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.form-conocimiento form label,
input {
    display: inline;
    margin-right: 10px;
    font-size: 1.2rem;
}


.form-conocimiento input[type="text"],input[type="number"],
select {
    font-size: 1.2rem;
    padding: 5px;
    border: 1px solid #808b96;
    border-radius: 5px;
}

.form-conocimiento input[type="submit"] {
    padding: 8px 12px;
    font-size: 1rem;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}



.form-conocimiento #msg-carreras,#msg-materias {
    font-size: 1rem;
    display: inline-block;
    color: #4CA42D;
    
}


.table-registros {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 35px;
}

.table-registros table {
    width: 100%;
    border-collapse: collapse;
}

.table-registros th {
    background-color: var(--color-primary);
    color: #fff;
}

.table-registros table td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: "Lato", sans-serif;
}



.delete-item {
    color: #A93226;
    font-size: 1.4rem;
}




.mod-form-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-enlazar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;    
    overflow-x: scroll;
}

.table-enlazar .table-obj {
    display: inline;
  
}

.table-obj tr,th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-family: "Lato", sans-serif;
}



.table-enlazar th:nth-child(even) {
    background-color: #dddddd;
}

.table-obj tr:nth-child(even){
    color: var(--color-primary);
}


.form-preguntas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Acerca de ***************************************************/
/**************************************************************/
.container-acerca {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.container-acerca .content-miembros {
    margin: auto;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-miembros h2 {
    color: var(--color-primary);
    font-size: 2rem;
    text-align: center;
}

.content-miembros h3 {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}

.content-miembros .separator {
    border: 2px solid #245483;
    width: 100%;
    margin: 15px 0;
}

.content-miembros .team {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px 0;
}

.team .item {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.item img {
    width: 90%;
    border-radius: 50%;
}

.team span {
    color: #000;
    margin-top: 10px;
    text-align: center;
}




/*Test Vocacional ****************************************/
/*********************************************************/
.contenedor-preguntas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.contenedor-preguntas h2 {
    color: var(--color-primary);
    font-size: 1.8rem;
    margin-bottom: 1%;
    font-weight: 900;
    letter-spacing: -0.9px;
}

.contenedor-preguntas span {
    color: var(--color-white-90);
    font-size: 1.2rem;
}

.form-preguntas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
}

.form-preguntas .label-pregunta {
    font-size: 1.5rem;
    display: block;
    border: 0;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}


.range-wrap {
    width: 100%;
  }
  .range {
    width: 100%;
    display: inline-block;
    position: relative;
  }
  .bubble {
    color: var(--color-primary);
    font-family: "Lato",sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
  }
  .test{
    padding-top: 25px;
  }
  
  .test .btnEnviar{
    margin-top: 10%;
    width: 100%;
    outline: 0;
    border: 0;
    padding: 20px 15px;
    font-weight: 500;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
 

  .contenedores{
    display:flex;
    justify-content:center;
    background-color: red;
  }
  .contenedor{
    background-color: #245483;
    text-align:center;
    width:50%;
  }
  .carrera{
    color:#fff;
  }
  